*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
}
header, .nav, .top-content-left, .top-content-center, .top-content-right, footer, .middle-content, .lower-content{
    padding-top: 20px;
    text-align: center;
    border: 1px solid rgb(71, 71, 71);
    min-height: 80px;
    background-color: rgb(206, 206, 206);
    margin: 4px;
}
main{
    display: flex;
}
.nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 255, 47);
}
.submain{
    flex: 8;
}
.top-content{
    display: flex;
}
.top-content >div{
    flex: auto;
    min-height: 200px;
}
.top-content-left{
    background-color: rgb(99, 99, 99);
}
.top-content-center{
    background-color: red;
}
.middle-content{
    min-height: 180px;
    background-color: rgb(63, 63, 226);
}
.lower-content{
    min-height: 230px;
    background-color: rgb(255, 174, 0);
}
footer{
    background-color: rgb(73, 73, 73);
    color: white;
}